div{
    background-color: aqua;
    border: 10px solid rgba(102, 51, 153, 0.349);
    padding: 12px;
    border-radius: 30px;
    margin: 10px;
}
.new{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(43, 198, 226);
    background-color: rgb(42, 165, 52);
    border-radius:0;
}